<div class="center-form">

  <% if @errors %>
    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <div class="new-question-page">
  <br>
  <form id="posts" method="post" action="/questions">
    <input type="text" name="title" placeholder="title">
    <br>
    <br>

    <textarea rows="4" cols="50" type="text" name="content" placeholder="question goes here"></textarea>
    <br>
    <br>

    <input class="submit_button" type="submit" value="submit new post">
        <br><br><br>

  </form>
  </div>

</div>
