
<form action="/questions/<%= question.id %>/answers/<%= answer.id %>/comments" method='post'>
  <input type='text' name='content' placeholder='Comment on this...' >
  <input class="submit_button" type='submit' name='Post'>
</form>

