body {
}
.container {
  width: 800px;
  margin: auto;
  background-color: #eceeef;

}

.title {
  text-align: center;
}

.title:hover {
  color: green;
}

ul {
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: .3em;
  float: right;
}

li a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

footer {
  background-color: #11181C;
  color: white;
  width: 800px;
  height: 30px;
  position: static;
  bottom: 0;
}

footer a {
  color: white;
  padding: 0;
}

footer nav ul {
  list-style: none;
  display: inline-block;
  float: right;

}

footer nav ul {
  margin: 0;
}

.form-item {
  padding: .5em 0 .5em 0;
}

.center-form {
  text-align: center;
}

.upvote_button{
  /*padding: 2em;*/
  background: none;
  border: none;
  background-image: url(../up.png);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  padding: 0;
}

.downvote_button {
  background: none;
  border: none;
  background-image: url(../down.png);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  padding: 0;
}

.vote-buttons {
  float: left;
}

h2 {
  margin-left: 1.35em;

}

.article{
 padding: 0.2em 0 0.2em 0;
}
