body{
  font-family: 'Lora', serif;
  background-image: url(../grass_park.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


body {
}
.container {
  width: 800px;
  margin: auto;
  background-color: rgba(255,255,255, 0.65);

}

.show-container{
  margin-left: 1.5em;
}

.title {
  text-align: center;
}

.title:hover {
  color: green;
}

ul {
  padding: 1em;
  margin: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: .3em;
  float: right;
}

li a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

footer {
  background-color: #11181C;
  color: white;
  width: 800px;
  height: 30px;
  position: static;
  bottom: 0;
}

footer a {
  color: white;
  padding: 0;
}

footer nav ul {
  list-style: none;
  display: inline-block;
  float: right;

}

footer nav ul {
  padding: 0;
}

.form-item {
  padding: .5em 0 .5em 0;
}

.center-form {
  text-align: center;
}

.upvote_button {
  /*padding: 2em;*/
  background: none;
  border: none;
  background-image: url(../up.png);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  padding: 0;
}

.downvote_button {
  background: none;
  border: none;
  background-image: url(../down.png);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  padding: 0;
}

.vote-buttons {
  float: left;
}

h1 {
  margin: 0 0 .8em .5em;
  font-size: 3em;
}

h2 {
  margin-left: 1.35em;

}

.article{
 padding: 0.2em 0 0.2em 0;
}

.index-container {
  margin-left: 1.5em;
}

.post-info {
  font-style: italic;
}

.add_button{
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:13px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }

.add_button:hover {
  background-color:#5cbf2a;
}
.add_button:active {
  position:relative;
  top:1px;
}

.question-comment-container ul{
  list-style: none;
  padding: 0;
}

.question-comment-post {
  padding: 1em;
}

.comment-content {
  margin-left: 2em;
}

.answer-comment-vote-count,
.answer-vote-count,
.comment-vote-count,
.comment-vote-count {
  text-align: center;

}

.answer-content {
  margin-left: 2em;
}

.italics {
  font-style: italic;
}

.blade-notice {
  border: 10px solid green;
  border-radius: 5px;
  margin-left: -1.5em;
}
