<div class="center-form">
  <h2>Login</h2>

  <form action="/login" method="post">
    <div class="form-item"><input type="text" name="username" placeholder="username"></input></div>
    <div class="form-item"><input type="password" name="password" placeholder="password"></input></div>
    <div class="form-item"><input type="submit" value="Login"></input></div>
  </form>
</div>

<%= erb :_errors %>
