<div class="center-form">
  <h2 class="sign-up">Login</h2>
<%= erb :_errors %>

  <form action="/login" method="post" id="login-form">
    <div class="form-item"><input type="text" name="username" placeholder="username"></input></div>
    <div class="form-item"><input type="password" name="password" placeholder="password"></input></div>
    <div class="form-item"><input class="submit_button"type="submit" value="Login"></input></div>
  </form>
</div>

<img src="lawnmower.png" id="lawnmower" style="width: 150px; position: relative;">

