
<div>
  <form action="/questions/<%= @question.id %>/answers/new" method='post'>
    <input type='text' name='content' placeholder='Your Answer...' >
    <input type='submit' name='Post'>
  </form>
</div>
